USE [master]
GO
/****** Object:  Database [training]    Script Date: 20/05/2024 1:05:33 PM ******/
CREATE DATABASE [training]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'training', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\training.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'training_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\training_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [training].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [training]
GO
/****** Object:  User [IIS APPPOOL\Hero-API]    Script Date: 20/05/2024 1:05:34 PM ******/
CREATE USER [IIS APPPOOL\Hero-API] FOR LOGIN [IIS APPPOOL\Hero-API] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[HEROES]    Script Date: 20/05/2024 1:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEROES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HERO_NAME] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetAllHeroes]    Script Date: 20/05/2024 1:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllHeroes]
AS
BEGIN
    SELECT ID, HERO_NAME 
    FROM HEROES;
END
GO
/****** Object:  StoredProcedure [dbo].[GetHeroNameById]    Script Date: 20/05/2024 1:05:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetHeroNameById]
    @HeroId INT 
AS
BEGIN
    SELECT ID,HERO_NAME
    FROM HEROES
    WHERE ID = @HeroId; 
END
GO
USE [master]
GO
